<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NAZAS up</title>
<link rel="stylesheet" type="text/css"  href="css/styles.css" />

</head>

<body>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
	<div id="nazasapp" >
        <div id="options">
        <ul>
            <li><div class="show-image options-item"><span>IMG</span></div></li>
            <li><div class="show-gif color options-item"><span>GIF</span></div></li>
            <li><div class="show-webpage options-item"><span>HTML</span></div></li>
            <li><div class="show-pdf color options-item"><span>PDF</span></div></li>
			<li><div class="show-video color options-item"><span>VIDEO</span></div></li>
            <li><div class="show-all options-item"><span>ALL</span></div></li>

        </ul>
        </div>


        <button class="filter">filtruy</button>




    <div id="content">
      <ul id="item-list"></ul>
    </div>

    <footer>
     footer
    </footer>

  </div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

  <script src="src/jquery.js"></script>
  <script src="src/jquery.prettydate.js"></script>
  <script src="src/underscore.js"></script>
  <script src="src/backbone.js"></script>
  <script src="src/backbone.localStorage.js"></script>
  <script src="src/todos.js"></script>
<script src="src/Item.js"></script>
<script src="src/Enum.js"></script>
<script src="src/options.js"></script>


 <!-- Templates  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
  <script type="text/template" id="item-template-gif">
	<div class='item-view' style="display: <%= visible == true ?  'block' : 'none' %>;">
        <div class="options">		
				<ul class="item-options-list">
					<li class="delete"><img src="/img/del.png"/></li>
					<li class="clipboard"><img src="/img/copy.png"/></li>					 
				</ul>
			<div class="item-options-date"> 
				<span class="date" title="<%- (new Date(date)).toISOString() %>"></span>
			</div>
			<input type="text" readonly class="clipboard-field" value="example"/>
        </div>	
   <a target='_blank' href='<%- url %>'>
   <img class="gif" data-url='<%- payload[0] %>' src='<%- payload[0] %>'/>
   </a>
	  </div>
  </script>
 <!-- Templates  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
    <script type="text/template" id="item-template-pdf">
	<div class='item-view' style="display: <%= visible == true ?  'block' : 'none' %>;">
        <div class="options">		
				<ul class="item-options-list">
					<li class="delete"><img src="img/del.png"/></li>
					<li class="clipboard"><img src="img/copy.png"/></li>					 
				</ul>
			<div class="item-options-date"> 
				<span class="date" title="<%- (new Date(date)).toISOString() %>"></span>
			</div>
			<input type="text" readonly class="clipboard-field" value="example"/>
        </div>	
     <div class="title">
              <a target="_blank" href="<%- url %>"><%- payload[1] %></a>
          </div>
          <div class='inner-item'>    <img style="display: block; margin: 0 auto;  width:300px; height:250px; margin-top: -20px;" src='<%- payload[0] %>'/> </div>
	  </div>
  </script>

 <!-- Templates  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->  
   <script type="text/template" id="item-template-yt">

	  <div class='item-view' style="display: <%= visible == true ?  'block' : 'none' %>;">
        <div class="options">		
				<ul class="item-options-list">
					<li class="delete"><img src="del.png"/></li>
					<li class="clipboard"><img src="copy.png"/></li>					 
				</ul>
			<div class="item-options-date"> 
				<span class="date" title="<%- (new Date(date)).toISOString() %>"></span>
			</div>
			<input type="text" readonly class="clipboard-field" value="example"/>
        </div>
	 
    <a target='_blank' href='<%- url %>'>
   <img class="yt" data-url='<%- payload[0] %>' src='<%- payload[1] %>'/>
   </a>
	    </div>
  </script>
  <!-- Templates  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  --> 
     <script type="text/template" id="item-template-img">
	  <div class='item-view' style="display: <%= visible == true ?  'block' : 'none' %>;">
        <div class="options">		
				<ul class="item-options-list">
					<li class="delete"><img src="del.png"/></li>
					<li class="clipboard"><img src="copy.png"/></li>					 
				</ul>
			<div class="item-options-date"> 
				<span class="date" title="<%- (new Date(date)).toISOString() %>"></span>
			</div>
			<input type="text" readonly class="clipboard-field" value="example"/>
        </div>
	 
     <a target='_blank' href='<%- url %>'>
              <img class="image"  src='<%- url %>'/>
          </a>
	    </div>
  </script>
   <!-- Templates  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->  
  

       <script type="text/template" id="item-template-default">
	  <div class='item-view' style="display: <%= visible == true ?  'block' : 'none' %>;">
        <div class="options">		
				<ul class="item-options-list">
					<li class="delete"><img src="del.png"/></li>
					<li class="clipboard"><img src="copy.png"/></li>					 
				</ul>
			<div class="item-options-date"> 
				<span class="date" title="<%- (new Date(date)).toISOString() %>"></span>
			</div>
			<input type="text" readonly class="clipboard-field" value="example"/>
        </div>
	 
	<img class='favicon' src='<%-url %>'/>
    <div class="title">
      <a target="_blank" href="<%- url %>"><%- domain %> 
      </a></div>
      <div class='inner-item'> <%- title %> </div>
	  
	    </div>
  </script>


  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>
